<a href="#" class="film">
                <img src="imagenes/movies/pets.jpg" alt="">
                <div class="film-info">
                    <h3>The Secret Life if Pets</h3>
                    <p>Lorem ipsum dolor sit .amet, consectetur adipisicing elit. Similique magni quis iusto aliquam assumenda .amet, consectetur adipisicing elit. Similique </p>
                </div>
            </a>