<header>
            <figure id="logo">
                <img src="imagenes/logo.png" alt="">
            </figure>

            <input type="text" placeholder="Búsca tu peli, actor, actriz o director favorito">

            <div class="user-settings">
                <a href="#">
                    <h4>Carlos Sanchez</h4>
                </a>
                <a href="#">
                    <figure id="user-images">
                        <img src="imagenes/user.jpg" alt="user-image">
                    </figure>
                </a>
                <a href="#">
                    <img src="imagenes/baseline-arrow_drop_down-24px.svg" alt="drop-down">
                </a>
            </div>
        </header>