<aside>
            <nav>
                <a href="/">
                    <img src="imagenes/home.svg" alt="">
                    <h4>Home</h4>
                </a>
                <a href="/about">
                    <img src="imagenes/fire.svg" alt="">
                    <h4>Trending</h4>
                </a>
                <a href="#">
                    <img src="imagenes/heart.svg" alt="">
                    <h4>Más Likes</h4>
                </a>
                <a href="#">
                    <img src="imagenes/settings.svg" alt="">
                    <h4>Ajuste</h4>
                </a>
            </nav>
</aside>