{{> head }}

<body>
    <div class="container">
        <!-- by daniel NAVA -->
        

        {{> head }}

        {{> header }}

        {{> navbar}}
        
        <main>

            <h2>Ahora en el cine</h2>

            {{> film }}
            {{> film }}
            {{> film }}

            <!-- segunda seccion  -->

            <h2>Aclamadas por la critica</h2>

            {{> film }}
            {{> film }}
            {{> film }}

            <!-- tercera seccion  -->

            <h2>No te debes perder</h2>

            {{> film }}
            {{> film }}
            {{> film }}

        </main>
    </div>
</body>